{% extends "interactivemap/base.html" %}
{% load static %}
{% static "" as baseStaticUrl %}

{% block title %}
	Interactive Map
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static '/scripts/svg-pan-zoom.js' %}"></script>
	<script type="text/javascript" src="{% static '/scripts/floor.js' %}"></script>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/sidepanel.css'%}">
	<style>	
		/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
		#mapcontainer {
			transition: margin-left .5s;
			padding: 20px;
		}
	</style>
{% endblock %}
	

{% block body %}

<div class="container-fluid" id="content">

	<div id="nav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav(); window.location.hash = '';">&times;</a>
		<img id="employee-avatar" class="img-rounded" style="width: 160px; display: block; margin: auto">
  		<div class="media" style="margin-left: 20px; margin-right: 20px">
			<div class="media-body">
				<h4 id="employee-name" class="media-heading"></h4>
				<p id="employee-division" class="text-muted"></p>
				<p id="employee-subdivision" class="text-muted"></p>
				<p id="employee-position" class="text-muted"></p>
				<p id="email-p" class="text-muted">Email: <a id="employee-email" href="mailto::email"></a></p>
				<p id="phone-p" class="text-muted">Phone: <span id="employee-phone"></span></p>
				<p id="phone2-p" class="text-muted">Phone2: <span id="employee-phone2"></span></p>
			</div>
		</div>
	</div>
	
	<div id="room-description" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeRoomDescription(); window.location.hash = '';">&times;</a>
		<img id="room-photo" class="img-rounded" style="width: 250px; display: block; margin: auto">
  		<div class="media" style="margin-left: 20px; margin-right: 20px">
			<div class="media-body">
				<h4 id="room-name" class="media-heading"></h4>
				<p id="room-text" class="text-muted"></p>
			</div>
		</div>
	</div>
	
	<div id="mapcontainer">
		<object data="" type="image/svg+xml" id="svgmap" width="100%" height="100%">
			Извините, визуализации данного этажа не найдено.
		</object>
	</div>
</div>

<script type="text/javascript">
	var startFloor = {{ floor|default:"null" }};
	
	var floorMap = null;
	$(document).ready(function() {
		$('#floors-menu').addClass("active");
		$('#mapcontainer').height($(window).height() - $('#header').height() - 50); 
		$('#nav').height($(window).height() - $('#header').height() - 50);
		$('#nav').css({'top': $('#header').height() });
		$('#room-description').height($(window).height() - $('#header').height() - 50);
		$('#room-description').css({'top': $('#header').height() });        
        mask();
        
        $.get("/rest/floor/numbers", function(data) {
        	fillFloorsDropdown(data);
        	if( !startFloor ) {
        		$.get("/rest/floor", onFloorDataLoadedSuccess);
        	} else {
        		$.get("/rest/floor/" + startFloor, onFloorDataLoadedSuccess);
        	}
        });
	});
	
	function onFloorDataLoadedSuccess(data) {
		unmask();
		document.getElementById('svgmap').addEventListener('load', function() {
    		    var svgmap = document.getElementById('svgmap');
				var svgdoc = svgmap.contentDocument;
				var g = svgdoc.getElementsByTagName('g')[0];
		
				svgPanZoom('#svgmap', {
						  	zoomEnabled: true,
				  			controlIconsEnabled: true,
							eventsListenerElement: g
				});
				markFloorsDropdownElementAsCurrent(data.number);
				var title = "Interactive Map: " + data.number + "-" + getNumberEnding(data.number) + " этаж";
				document.title = title;
				$("#navbar-title-caption").text(title);
				floorMap = new Floor(svgmap, data, 1);
				
				floorMap.onRoomClick = function(room) {
					window.location.hash = "room-" + room.id;
					showRoom(room);
				};
				
				floorMap.onEmployeeClick = function(employee) {
					window.location.hash = "employee-" + employee.id;
					showEmployee(employee);
				};
				
				if(window.location.hash.startsWith("#employee-")) {
					var employeeId = parseInt(window.location.hash.substring("#employee-".length));
					var employee = floorMap.getEmployeeById(employeeId);
					if(employee) {
						showEmployee(employee);
					}
				} else {
					if(window.location.hash.startsWith("#room-")) {
						var roomId = parseInt(window.location.hash.substring("#room-".length));
						var room = floorMap.getRoomById(roomId);
						showRoom(room);
					}
				}
		}, true);
		$("#svgmap").attr("data", data.filename);
	};
	
	function showEmployee(employee) {
		floorMap.resetLastHighlightedElement();
		floorMap.highlightElement(employee.visual);
		showEmployeeInfo(employee);
	}
	
	function showRoom(room) {
		floorMap.resetLastHighlightedElement();
		floorMap.highlightElement(room.visual);
		showRoomInfo(room);
	}

	function showRoomInfo(room) {
		$("#room-photo").attr('src', room.photo || "");
		$("#room-name").text(room.name || "");
		$("#room-text").text(room.description || "");
		openRoomDescription();
	}

	function showEmployeeInfo(employee) {
		$("#employee-avatar").attr('src', employee.avatar || "");
		$("#employee-name").text([employee.firstName, employee.lastName, employee.patronym].join(" "));
		if( employee.department ) {
			$("#employee-division").text(employee.department.title);
		} else {
			$("#employee-division").text("");
		}
		if(employee.division) {
			$("#employee-subdivision").text(employee.division.title);
		} else {
			$("#employee-subdivision").text("");
		}
		if(employee.post) {
			var post = [];
			for(var i = 0; i < employee.post.length; ++i) {
				post.push(employee.post[i].title);
			}
			$("#employee-position").text(post.join(", ") || "");
		}
		if(employee.email) {
			$("#employee-email").text(employee.email);
			$("#email-p").show();
		} else {
			$("#email-p").hide();
		}
		if(employee.phone) {
			$("#employee-phone").text(employee.phone);
			$("#phone-p").show();
		} else {
			$("#phone-p").hide();
		}
		if(employee.phone2) {
			$("#employee-phone2").text(employee.phone2);
			$("#phone2-p").show();
		} else {
			$("#phone2-p").hide();
		}
		openNav();
	};

	function getNumberEnding(number) {
		var strNumber = number.toString();
		switch(strNumber[strNumber.length - 1]) {
			case "0":
			case "1":
			case "4":
			case "5":
			case "9":
				return "ый";
			case "2":
			case "6":
			case "7":
			case "8":
				return "ой";
			case "3":
				return "ий";
		}
	}
	
	function fillFloorsDropdown(numbers) {
		numbers.forEach(function(n) {
			$("#floors-dropdown").append([
				'<li id="floor-number-', n, '">',
				'	<a href="/floor/', n, '">', n, '</a>',
				'</li>'
			].join(""));
		});
	}
	
	function markFloorsDropdownElementAsCurrent(floorNumber) {
		$("#floor-number-" + floorNumber).addClass("active");
	}
	
	function openRoomDescription() {
		closeNav();
		openSidePanel("room-description");
	}

	function closeRoomDescription() {
		closeSidePanel("room-description");
	}
	
	function openNav() {
		closeRoomDescription();
		openSidePanel("nav");
	}

	function closeNav() {
		closeSidePanel("nav");
	}
	
	function openSidePanel(id) {
		document.getElementById(id).style.width = "300px";
		document.getElementById("mapcontainer").style.marginLeft = "300px";
	}
	
	function closeSidePanel(id) {
		document.getElementById(id).style.width = "0";
		document.getElementById("mapcontainer").style.marginLeft = "0";
	}
</script>

{% endblock %}
